.poster-image {
    width: 280px;
    height: 420px;
}

.m-title {
    margin-left: -16px;
}


.row-options {
    margin-left: -35px;
    margin-right: -26px;
}

// .overview-box {
//     overflow: hidden !important;
//     white-space: nowrap !important;
//     text-overflow: ellipsis !important;
//     height: 190px !important;
// }